.futer{
    text-align: center;
    background-color: lightgray;
}

.formtitle{
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #428bca;
}

a:hover{
    text-decoration: none;
    color: #777;
}

a:selected{
    text-decoration: none;
    color: #777;
}

.headernav{
    margin: 10px;
}

.headtitle{
    color: #777;
    font-size: 2em;
    
}